APP_NAME= 'todo-app'
APP_MIGRATIONS_PATH=internal/adapter/postgres/migrations
HTTP_URL= 'localhost'
HTTP_PORT=8080
PORT=3000
DB_NAME= 'postgres'
DB_USER=postgres
DB_PASS= 'postgres'
DB_TYPE= 'postgres'
DB_HOST= 'localhost'
DB_PORT=5432
ENV=development